/* -------------------------header start--------------------------- */
.header-top {
    font-size: 12px !important;
    text-transform: uppercase;
    max-width: 100%;
    min-height: 24px;
    line-height: 20px;
}

.linkForHover:hover .nav-left-link {
    color: var(--top-link-hover-color);
}

.linkForHover {
    position: relative;
    max-width: fit-content;
}
.linkForHover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: -1px;
    left: 0;
}
.linkForHover::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--top-link-hover-color);
    transition: width 0.3s ease-in-out;
    bottom: -1px;
    left: 0;
}

.linkForHover:hover::before {
    width: 0%;
}

.linkForHover:hover::after {
    width: 100%;
}

.dropA {
    color: white;
    padding: 16px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.dropdown-content a {
    color: black;
    font-size: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--top-link-hover-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropA {
    color: var(--top-link-hover-color);
}

.bi:hover {
    color: gray !important;
    cursor: pointer !important;
}

.navBadges {
    font-size: 12px !important;
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    top: 5px;
    left: 25px;
}

header {
    position: sticky;
    top: 0;
    z-index: 8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* @media screen and (max-width: 767px) {
    .rightTopNav {
        display: none;
    }

    .leftTopNav {
        margin: auto;
    }
} */

/* -------------------------main start--------------------------- */

/* .slide img{
    object-fit: contain;
} */
.mainCont {
    height: 90vh;
}
.mainCont,
.buttom-header {
    background-color: var(--main-bg-color);
}
.leftSideHome1 p {
    font-size: 18px;
    letter-spacing: 1.2px;
}
.leftSideHome1 h1 {
    font-size: 60px;
    letter-spacing: 0.100em;
}
.leftSideHome1 .mainP {
    font-size: 16px;
}
.carousel-indicators {
    justify-content: flex-start;
}
.carousel-indicators button {
    width: 1rem !important;
    height: 1rem !important;
    border: 1px solid black !important;
    border-radius: 50% !important;
    margin-left: 15px !important;
}
.carousel-indicators button.active {
    background-color: black;
}
.rightSideHome1 img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.slide {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

@media screen and (max-width: 767px) {
    .mainCont {
        height: 90vh;
        padding: 20px 0;
    }

    .slide {
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    .leftSideHome1, .rightSideHome1 {
        width: 100% !important;
        padding: 0 15px;
    }

    .leftSideHome1 h1 {
        font-size: 25px !important;
    }

    .leftSideHome1 p {
        font-size: 14px !important;
    }

    .rightSideHome1 img {
        max-height: 200px;
    }
    .carousel-indicators button {
        width: 0.5rem !important;
        height: 0.5rem !important;
    }
}
/* -------------------------main end--------------------------- */

/* ------------------- SHOP BY CATEGORY end slider  ------------------- */
.headOfSwiper {
    letter-spacing: 1.3px;
}

.productFigure {
    width: 120px;
    height: 120px;
    background-image: url(../imgs/Home/chair-1.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease;
    position: relative;
}
.nd-productFigure{
    background-image: url(../imgs/Home/table.jpg);
}
.rd-productFigure{
    background-image: url(../imgs/Home/bed.jpg);
}
.th-productFigure{
    background-image: url(../imgs/Home/lamp-1.jpg);
}

.productFigure::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #73737386;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.productFigure:hover {
    transform: scale(1.2);
}

.productFigure:hover::after {
    opacity: 1;
}

.productFigure:hover .productFigureIcon {
    display: block;
}
.swiper-slide{
    flex-shrink: 10;
}

.productFigureIcon {
    display: none;
    font-size: 13px;
    color: white;
    /* transform: translate(-50%, -50%); */
    position: absolute;
    z-index: 2;
}

.productFigureInfo p {
    letter-spacing: 0.075em;
    line-height: 1.4;
    font-size: 15px;
}

.productFigureInfo a:hover {
    color: var(--red-when-hover) !important;
}

/* ------------------- SHOP BY CATEGORY end slider  ------------------- */

/* -------------------------big sale sections start --------------------------- */
.lampSide {
    position: relative;
    height: 300px;
    max-height: 100%;
    overflow: hidden;
}

.lampSide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../imgs/Home/banner-0-removebg-preview.png);
    transition: transform 0.3s ease;
    z-index: 1;
}
.lampSide:hover::before {
    transform: scale(1.1);
}

.lampSideInfo {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.lampSideInfo h2 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.075em;
}

.newSide {
    height: 300px;
    max-height: 100%;
    background-image: url(../imgs/Home/banner-1.jpg);
    background-size: cover;
    background-position: center;
}

.newSide h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.075em;
}

.newSide p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-bottom: 5px;
}

.bigSaleSide {
    height: 600px;
    max-height: 100%;
    background-image: url(../imgs/Home/banner-2.jpg);
    background-size: cover;
    background-position: center;
}

.bigSaleSideInfo h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-bottom: 40px;
}

.bigSaleSideInfo p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.075em;
}

.bigSaleSideInfo a {
    color: white;
}

.CouponSide {
    height: 200px;
    max-height: 100%;
    background-image: url(../imgs/Home/banner-3.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
@media screen and (max-width: 767px) {
    .CouponSide {
        height: 400px;
        background-position: 70% center;
    }
    .CouponSideInfo{
        flex-direction: column;
        padding-top: 4rem;
    }
}


.CouponSideInfo h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1em;
}

.CouponSideInfo h3 {
    font-size: 36px;
    font-weight: normal;
    word-spacing: 8px;
    letter-spacing: 0.075em;
    line-height: 1em;
}

.CouponSideInfo p {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.075em;
}

/* -------------------------big sale sections end --------------------------- */

/* -------------------------- Best Modern Furniture sections SRART --------------------------- */
.HFurniture{
    font-size: 48px;
    letter-spacing: 3.6px;
    line-height: 1.25 !important;
}

.card {
    font-size: 15px;
    color: black;
    transition: transform 0.3s ease;
}

.product-card {
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.default-image,
.hover-image {
    width: 100%;
    transition: opacity 0.3s ease;
    /* cursor: pointer; */
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover .default-image {
    opacity: 0;
}

.image-container:hover .hover-image {
    opacity: 1;
}

.productName:hover {
    color: var(--red-when-hover) !important;
}

.btnHomeProduct {
    width: 100%;
    font-size: 0.867rem;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btnHomeProduct:hover {
    color: white;
    background-color: var(--red-when-hover);
}

.iconsTip {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-card:hover .iconsTip {
    opacity: 1;
}

.product-card:hover .btnHomeProduct {
    opacity: 1;
}

.iconsTip a:hover {
    background-color: var(--red-when-hover);
    color: white;
}


.badge {
    font-size: 12px !important;
    font-weight: 400;
    color: white;
    border-radius: 0;
    padding: 5px 10px;
    z-index: 2000;
}

/* -------------------------- Best Modern Furniture sections END --------------------------- */

/* ----------------------------OUR BLOG start------------------------------- */
.ourBlog {
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 700;
}

.leftCarousel {
    overflow: hidden;
}

.carousel-control-next-icon:hover {
    background-color: gray !important;
}

.carousel-control-prev-icon:hover {
    background-color: gray !important;
}

.img-toscale:hover {
    transform: scale(1.1);
}

.img-toscale{
    transition: 500ms ease;
    max-width: 100%;
}

.auther-contain {
    width: 60px;
    height: 60px;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.281);
}

.date-time {
    padding: 5px 10px;
    font-size: 15px;
    top: 1rem;
    left: 1rem;
}

/* ---------- */
.topLinks {
    color: var(--top-link-hover-color);
    font-size: 14px !important;
}

.topLinks:hover {
    color: var(--red-when-hover);
}

.contTopLinks span {
    color: var(--top-link-hover-color);
}

.firstSide h2 {
    color: black;
    font-size: 29px;
    letter-spacing: 0.025em;
}

.firstSide h2:hover {
    color: var(--red-when-hover);
}

.firstSide p {
    color: var(--top-link-hover-color);
    font-size: 16px;
    line-height: 1.8;
    font-size: 1.12em;
}

.goLink {
    color: black;
    font-size: 0.93rem;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.075em;
    position: relative;
    max-width: fit-content;
}

.goLink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000000;
    bottom: -2px;
    left: 0;
}

.goLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #000000;
    transition: width 0.3s ease-in-out;
    bottom: -2px;
    left: 0;
}

.goLink:hover::before {
    width: 0%;
}

.goLink:hover::after {
    width: 100%;
}

.secondSide {
    background-image: url(../imgs/Home/blog-2-1174x862.jpg);
    background-position: left center;
    background-size: cover;
    overflow: hidden;
    transition: 500ms ease;
    max-width: 100%;
}

.blogTwoSide {
    background-image: url(../imgs/Home/blog-1-1174x862.jpg);
}

.secondSide:hover {
    transform: scale(1.1);
}

.autherContainRight {
    width: 60px;
    height: 60px;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(255, 255, 255, 0.281);
}

.dateTimeRight {
    padding: 5px 10px;
    font-size: 15px;
    top: 1rem;
    left: 1rem;
}

/* -------------------------OUR BLOG end--------------------------- */

/* ------------------- background vedio section start --------------------- */
.videoSiction {
    height: 500px;
    overflow: hidden;
    position: relative;
}

#backVideo {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layerTextWood {
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    background-color: #07070773;
}

.layerTextWood h1 {
    color: #FFFFFF30;
    font-size: 120px;
    line-height: 1em;
    letter-spacing: 0.2em;
    font-weight: 700;
}
@media screen and (max-width: 767px) {
    .videoSiction {
        height: 200px !important;
    }
}
/* ------------------- background vedio section ended --------------------- */


/* --------------------------footer start------------------------------- */
#footer {
    color: var(--top-link-hover-color);
    font-size: 15px;
}

.textTime {
    line-height: 40px;
    margin-top: 2rem;
}

.footer-title {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 700;
    list-style: none;
    padding-bottom: 10px;
}

.footer-links {
    padding: 5px 0;
}

.footer-links li {
    margin-top: 20px;
    list-style: none;
}

.footer-links li a {
    color: var(--top-link-hover-color);
    text-decoration: none;
    transition: 600ms ease 0s;
}

.fa {
    color: transparent !important;
    font-size: 25px;
    -webkit-text-stroke-width: 1px !important;
    -webkit-text-stroke-color: black;
    transition: 600ms ease 0s;
}

.socialIcons a i:hover {
    -webkit-text-stroke-color: red;
}

.rightMailSection button:hover {
    background-color: var(--red-when-hover) !important;
}

.footer-payments li i:hover,
.footer-links li a:hover {
    color: var(--red-when-hover);
}

.footer-payments li {
    list-style: none;
    margin: 0px 5px;
}

.footer-payments i {
    font-size: 35px;
    padding: 5px;
}

/* --------------------------footer ended------------------------------- */

.goTop {
    display: none;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
}

/* ======================================================================================================= */
@media screen and (max-width: 767px) {
    .HFurniture {
        font-size: 20px;
    }
    .lampSideH{
        font-size: 20px;
    }
    .leftSideHome1 h1{
        font-size: 25px !important;
    }
    .leftSideHome1 p{
        font-size: 14px !important;
    }
    .firstSide h2{
        font-size: 20px;
    }
    .layerTextWood  h1{
        font-size: 60px ;
    }
    .goLink{
        font-size: 14px !important;
    }
}
@media screen and (max-width: 992px) {
    .HFurniture {
        font-size: 25px !important;
    }
    .lampSideH{
        font-size: 25px !important;
    }
    .bigSaleSideH{
        font-size: 25px !important;
    }
    .CouponSideInfo h2{
        font-size: 50px;
    }
    .CouponSideInfo h3{
        font-size: 25px;
    }
    .CouponSideInfo p{
        font-size: 15px;
    }
    .newSide h2{
        font-size: 25px;
    }
    .leftSideHome1 h1{
        font-size: 39px;
    }
    .leftSideHome1 p{
        font-size: 14px;
    }
    .goLink{
        font-size: 14px !important;
    }
    .headOfSwiper{
        font-size: 18px;
        text-align: center;
    }
    .HFurniture{
        font-size: 20px !important;
    }
    .ourBlog{
        font-size: 18px;
        text-align: center;
    }
    .firstSide h2{
        font-size: 23px;
    }
    .firstSide p{
        font-size: 15px;
    }
    .topLinks{
        font-size: 13px;
    }
    .date-time{
        font-size: 12px ;
    }
    .dateTimeRight{
        font-size: 12px ;
    }
    .layerTextWood  h1{
        font-size: 80px ;
    }
}
